<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLXMzhwkWnc9eSTkUxwO6RAT1DCjfdd5M</string>
	<key>GCM_SENDER_ID</key>
	<string>764263667790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.readwithmint</string>
	<key>PROJECT_ID</key>
	<string>readwithmint</string>
	<key>STORAGE_BUCKET</key>
	<string>readwithmint.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764263667790:ios:acad76b5b5cc7a56f6cb1f</string>
</dict>
</plist>